// Place all the styles related to the adjectives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name {
  line-height: 1;
  font-size: 2em;
  margin: 42px 0;
}

.juicy-name {
  line-height: 1;
  font-size: 4em;
  margin: 44px 0;
  font-weight: bold;
}
